* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
}

.main-app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}

img {
  user-select: none;
}

button {
  user-select: none;
}

@media (max-width: 800px) {
  .main-app {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 801px) {
  .router {
    margin: 0 auto 0 100px;
  }
}

.navbar {
  width: 15%;
  position: fixed;
}

.router {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .router{
    margin: 0 0 0 auto;
  }
}
